<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- wheel.png Designed by Freepik -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/wheel.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/faq.css' %}" />
    <title>ft_wheel</title>
</head>
<body>

    <div class="faq-container">
        <h1>Frequently Asked Questions (FAQ)</h1>
        <div class="faq-item">
            <h2>Is it really random?</h2>
            <p>Yes.</p>
        </div>
        <div class="faq-item">
            <h2>I won a TIG, what should I do?</h2>
            <p>You signed up for it, so you have to do your TIG ⭐<br>
               You can schedule it by checking your emails
            </p>
        </div>
        <div class="faq-item">
            <h2>I won a special prize (sandwich, beer, ...), how can I get it?</h2>
            <p>Ask a tutor/lifeguard or a BDE member.</p>
        </div>
        <div class="faq-item">
            <h2>What personal information do you collect?</h2>
            <p>Nothing but your login and ID 📋</p>
        </div>
        <div class="faq-item">
            <h2>Why does the wheel bug/freeze?</h2>
            <p>Your PC might be too slow 💤</p>
        </div>
        <div class="faq-item">
            <h2>Is it serious if I leave the site while the wheel is spinning?</h2>
            <p>No, your prize will still be applied, no way to cheat</p>
        </div>
        <div class="faq-item">
            <h2>How to win every time?</h2>
            <p>RTFM!</p>
        </div>
        <div class="faq-item">
            <h2>Found a bug, want to contribute?</h2>
            <p><a href="https://github.com/drogonj/ft_wheel" style="color: white; text-decoration-color: #5e3be8">github.com/drogonj/ft_wheel</a> - Open an issue, submit a pull request or fork it!</p>
        </div>
        <p style="bottom: 0; width: 100%; color: white; text-align: center;">© 2025 drogonj (ngalzand) - ft_wheel</p>
    </div>
</body>
</html>
