<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/42.svg' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/faq.css' %}" />
    <title>ft_wheel</title>
</head>
<body>

    <div class="faq-container">
        <h1>Foire aux questions (FAQ)</h1>
        <div class="faq-item">
            <h2>Est-ce vraiment du hasard ?</h2>
            <p>Oui.</p>
        </div>
        <div class="faq-item">
            <h2>Je gagne une TIG, que faire ?</h2>
            <p>Tu as signé pour ça, tu dois donc faire ta TIG ⭐<br>
               Tu peux la planifier en regardant tes mails
            </p>
        </div>
        <div class="faq-item">
            <h2>J'ai gagné un lot spécial (sandwich, bière, ...), comment en bénéficier ?</h2>
            <p>Demande à un tuteur/maître-nageur ou un membre du BDE.</p>
        </div>
        <div class="faq-item">
            <h2>Que récupérez-vous comme informations personnelles ?</h2>
            <p>Rien que ton login et ton ID 📋</p>
        </div>
        <div class="faq-item">
            <h2>Pourquoi la roue bug/freeze ?</h2>
            <p>Ton PC est peut-être trop lent 💤</p>
        </div>
        <div class="faq-item">
            <h2>C'est grave si je quitte le site pendant que la roue tourne ?</h2>
            <p>Non, ton lot sera quand même appliqué, pas possible de gruger</p>
        </div>
        <div class="faq-item">
            <h2>Comment gagner à tous les coups ?</h2>
            <p>RTFM !</p>
        </div>
        <div class="faq-item">
            <h2>Qui est responsable du site ?</h2>
            <p>Le site est développé et administré par @ngalzand et @bchevall, en collaboration avec le Bocal, le BDE et le club Gaufre.</p>
        </div>
    </div>
</body>
</html>
