{% load static %}
    
    <div class="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
    
    <div class="side-menu">
        <div class="menu-content">
            <div class="menu-section">
                <h3 class="menu-section-title">Game Options</h3>
                {% for w in WHEEL_LIST %}
                    <div class="menu-item{% if forloop.first %} active{% endif %}" data-option="{{ w.slug }}">{{ w.title }}</div>
                {% empty %}
                    <div class="menu-item">No wheels available</div>
                {% endfor %}
            </div>
            <div class="menu-section">
                <h3 class="menu-section-title">History</h3>
                <a class="menu-item" data-option="history" href="/history">View rewards 📈</a>
            </div>
            
            {% if user.is_admin or user.is_moderator %}
            <div class="menu-section">
                <h3 class="menu-section-title">Administration</h3>
                <a class="menu-item" href="/adm/history">History Admin 🛠️</a>
                {% if user.is_admin %}
                    <a class="menu-item" href="/adm/control-panel">Control Panel 🛠️</a>
                    <a class="menu-item" href="/adm/wheels">Wheel Admin ⚙️</a>
                    <a class="menu-item" href="/adm/django-admin">Django Admin 👑</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    
    <a id="logout" href="/logout">logout</a>
    <a id="faq" href="/faq">FAQ</a>

        {{ WHEEL_LIST|json_script:"wheel-data" }}
        <script>
            const raw = document.getElementById("wheel-data").textContent;
            window.WHEEL_META = JSON.parse(raw);
            window.AVAILABLE_WHEELS = Array.isArray(window.WHEEL_META) ? window.WHEEL_META.map(w => w.slug) : [];
            window.WHEEL_TITLE_MAP = Object.fromEntries(
                window.WHEEL_META.map(w => [w.slug, w.title])
            );
            window.WHEEL_VERSION_IDS = Object.fromEntries(window.WHEEL_META.map(w => [w.slug, w.version_id]));
            window.USER_IS_SUPERUSER = JSON.parse("{{ USER_IS_SUPERUSER|yesno:'true,false' }}");
            window.USER_TEST_MODE = JSON.parse("{{ USER_TEST_MODE|yesno:'true,false' }}");
        </script>
    <script type="module" src="{% static 'js/menu.js' %}"></script>
    <script type="module" src="{% static 'js/utils.js' %}"></script>