<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/wheel.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <title>42 - ft_wheel</title>
</head>
<body>
    <p style="text-align: center; margin-top: 5%; font-size: min(3vh, 4vw); color: white;">
        L'accès à la roue est réservé aux piscineux de 42 Mulhouse.<br>
        Pour une autorisation spéciale, contactez un admin.<br>
    </p>
</body>
</html>